@import "tailwindcss";


.text-cream { color: #f5e6d3; }

@media (min-width:1280px) {
  h1 { line-height: 0.9; }
}

body {
  background-color: #0A0A0A;
  color: #E0E0E0; /* A light gray for text */
  font-family: 'Your-New-Sans-Serif-Font', sans-serif;
}

#root { 
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  min-height: 100vh;
}


